@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 220 17% 9%;
    --foreground: 210 20% 98%;
    --card: 220 17% 11%;
    --card-foreground: 210 20% 98%;
    --popover: 220 17% 9%;
    --popover-foreground: 210 20% 98%;
    --primary: 244 89% 67%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 17% 15%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 17% 15%;
    --muted-foreground: 210 20% 60%;
    --accent: 265 89% 67%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 17% 15%;
    --input: 220 17% 15%;
    --ring: 244 89% 75%;
    --chart-1: 244 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.8rem;
    --sidebar-background: 220 17% 9%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 244 89% 67%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 220 17% 15%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 220 17% 15%;
    --sidebar-ring: 244 89% 75%;
  }
  .dark {
    --background: 220 17% 9%;
    --foreground: 210 20% 98%;
    --card: 220 17% 11%;
    --card-foreground: 210 20% 98%;
    --popover: 220 17% 9%;
    --popover-foreground: 210 20% 98%;
    --primary: 244 89% 67%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 17% 15%;
    --secondary-foreground: 210 20% 98%;
    --muted: 220 17% 15%;
    --muted-foreground: 210 20% 60%;
    --accent: 265 89% 67%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 17% 15%;
    --input: 220 17% 15%;
    --ring: 244 89% 75%;
    --chart-1: 244 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 220 17% 9%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 244 89% 67%;
    --sidebar-primary-foreground: 210 20% 98%;
    --sidebar-accent: 220 17% 15%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 220 17% 15%;
    --sidebar-ring: 244 89% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
