@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 24 9.8% 10%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 27.4 91.6% 52.5%;
    --primary-foreground: 16.5 82.4% 5.5%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 27.4 91.6% 52.5%;
    --chart-1: 262 70% 50%;
    --chart-2: 284 60% 45%;
    --chart-3: 215 80% 55%;
    --chart-4: 224 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.8rem;
    --sidebar-background: 20 14.3% 4.1%;
    --sidebar-foreground: 60 9.1% 97.8%;
    --sidebar-primary: 27.4 91.6% 52.5%;
    --sidebar-primary-foreground: 16.5 82.4% 5.5%;
    --sidebar-accent: 12 6.5% 15.1%;
    --sidebar-accent-foreground: 60 9.1% 97.8%;
    --sidebar-border: 12 6.5% 15.1%;
    --sidebar-ring: 27.4 91.6% 52.5%;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 24 9.8% 10%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 27.4 91.6% 52.5%;
    --primary-foreground: 16.5 82.4% 5.5%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 27.4 91.6% 52.5%;
    --chart-1: 262 70% 50%;
    --chart-2: 284 60% 45%;
    --chart-3: 215 80% 55%;
    --chart-4: 224 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 20 14.3% 4.1%;
    --sidebar-foreground: 60 9.1% 97.8%;
    --sidebar-primary: 27.4 91.6% 52.5%;
    --sidebar-primary-foreground: 16.5 82.4% 5.5%;
    --sidebar-accent: 12 6.5% 15.1%;
    --sidebar-accent-foreground: 60 9.1% 97.8%;
    --sidebar-border: 12 6.5% 15.1%;
    --sidebar-ring: 27.4 91.6% 52.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
